//
// Home page
// ---------------
.home .shell {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 0s;
}

.home .showcase-content {
  position: relative;
  z-index: 101;

  padding: (3.0*@navbar-height) 0;

  color: #fff;

  text-shadow: 1px 1px 20px fade(lighten(@showcase-bg, 50%), 100%);

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max)  {
    padding: (3.5*@navbar-height) 0;
  }

  @media (min-width: @screen-md-min)  {
    padding: (3.5*@navbar-height) 0;
  }
}

.home .showcase-main-msg {
  font-size: 2*@font-size-h1;
  text-align: center;

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max)  {
    font-size: 2.5*@font-size-h1;
  }

  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    font-size: 3.5*@font-size-h1;
  }

  @media (min-width: @screen-lg-min) {
    font-size: 5*@font-size-h1;
  }
}

.home .showcase-main-msg > small {
  font-size: 0.8em;
}

.home .showcase-sub-msg {
  font-weight: normal;
  text-align: center;

  @media (max-width: @screen-xs-max) {
    font-size: @font-size-h3;
    text-align: center;
  }
}

.home .content {
  margin-bottom: 0;
  text-align: justify;
  font-size: 1.3*@font-size-base;
  background-color: fade(#fff, 90%);
  border-radius: 0;
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;

  @media (max-width: @screen-md-min) {
    font-size: ceil(1.2*@font-size-base);
  }
}

//
// Informative sections
// -----------------------

.about-msg,
.research-lines,
.students-training {
  padding: 50px 0;

  .msg {
    padding: 15px 0 15px 15px;
  }
}

.about-msg {
  padding-top: 30px;
}

// Logos
.home .section-pic {
  max-width: 98%;

  @media (max-width: @screen-xs-max) {
    max-width: 70%;
  }
}

.research-lines {
  color: #fff;
  background-color: desaturate(#003366, 50%);//; #cd853f;
}

.research-lines .row {
  margin-bottom: 30px;
}

.research-line {
  position: relative;
  margin-bottom: 20px;

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    & .section-pic { max-width: 85%; }
  }

}

.research-line h3,
.research-line h3 a {
  padding: 10px;
  margin: 0;
  color: #fff;
  border-radius: 10px;
}

.img-thumbnail {
  transition: box-shadow 0.25s ease-out;

  &:hover {
    box-shadow: 0 0 20px 5px @thumbnail-bg;
  }
}

