// Open Sans :-)
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic);

html,
body {
  height: 100%;
}

body {
  // padding-top: @navbar-height;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

.browsehappy {
  padding: 10px;

  font-size: 1.2em;

  text-shadow: 1px 0 1px #fff;
}

.img-responsive {
  display: inline-block;
}

.shell {
  position: relative;

  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0s;
}

.shell-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;

  padding: 20px 10px;
  overflow: hidden;

  color: #fff;

  background: url(../img/bose-einstein-condensate.jpg) center top no-repeat;
  background-color: #000;
}

.shell-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  background-color: fade(darken(@showcase-bg, 5%), 50%);
  border-top: 1px solid lighten(@showcase-bg, 10%);
  border-bottom: 1px solid darken(@showcase-bg, 20%);
}

.showcase-content {
  position: relative;
  z-index: 101;

  padding: (3.0*@navbar-height) 0 ceil(0.5*@navbar-height);

  color: #fff;

  text-shadow: 1px 1px 20px fade(lighten(@showcase-bg, 50%), 100%);

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max)  {
    padding: (3.5*@navbar-height) 0 ceil(0.5*@navbar-height);
  }

  @media (min-width: @screen-md-min) {
    padding: (4.5*@navbar-height) 20px ceil(0.5*@navbar-height);
  }

}

.showcase-main-msg {
  font-size: @font-size-h1;
  text-align: center;

  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max)  {
    font-size: 2*@font-size-h1;
  }

  @media (min-width: @screen-md-min) {
    text-align: left;
    font-size: ceil(2.5*@font-size-h1);
  }
}

.showcase-main-msg > small {
  font-size: 0.8em;
  font-weight: 300;
  color: #fff;
}

.showcase-sub-msg {
  font-weight: normal;

  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;

  @media (max-width: @screen-xs-max) {
    font-size: @font-size-h3;
    text-align: center;
  }
}

// Content
//
// -------
.content {
  padding: 20px 0;
  margin-bottom: 30px;
  background-color: #fff;

  @media (max-width: @screen-md-max) {
    margin-bottom: 0;
    border-radius: 0;
  }
}

.section-name {
  margin-bottom: 30px;

  font-size: 1.3*@font-size-h1;
  text-align: center;
}


// Footer
//
// ---------
.footer {
  min-height: 200px;

  color: #fff;

  background-color: @footer-bg;
}

.copyright-msg {
  padding: 50px 10px;

  text-align: center;

  .cc {
    padding: 10px 0;
  }

  .cc a {
    color: lighten(@link-color, 20%);
  }
}

.browser-alert {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
}

.browser-alert .browser-msg { box-shadow: 0 0 10px fade(#000, 30%); }

