// Brand colors
// -------------------------

@brand-primary:           #575c69;

// == Showcase
@showcase-bg:             #000;

// == Footer
@footer-bg:               #333;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;


@font-size-base:          15px;

@headings-font-weight:    500;


// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  320px;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  480px;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  768px;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-md-min;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             100%;

// Medium screen / desktop
@container-desktop:            100%;

// Large screen / wide desktop
@container-large-desktop:      ((1140px + @grid-gutter-width));

// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;



//== Navbar
//
//##
@navbar-default-color:             #fff; //#777;

// Navbar links
@navbar-default-link-color:                #fff; //#777;
@navbar-default-link-hover-color:          #fff; //#333;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #fff; //#555;

// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      #fff; //@gray-light;
@navbar-inverse-bg:                         #000; //#222
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 #fff; //@gray-light;
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color:        #777; //#444;
@navbar-inverse-link-disabled-bg:           transparent;



// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";


//== Navbar pad
//
//##
@navbar-pad-padding:      30px;
