// Content wrapper
.wrap { }

// Main content area
.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

.blog .post {
  .make-md-column(12);

  .sidebar-primary & {
    .make-md-column(12);
  }

  min-height: 200px;
  overflow-y: hidden;
}


// Custom post types base template
.base-custom .main {
  .make-sm-column(@main-sm-columns);
}
.base-custom .main .sidebar-primay { display: none; }
