.banner { }

// Reset navbar background color. Make font bigger.
#main-navbar.navbar-default,
#main-navbar.navbar-inverse {
  margin-bottom: 0;
  background-color: transparent;
  font-size: 1.1*@font-size-base;
}

// The navbar pad without padding.
#main-navbar .navbar-pad {
  padding-top: 0;
  padding-bottom: 0;

  transition-property: padding, color, background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;

  // Styles for links in navbar when there is no padding.
  // Eliminate backgrounds in small devices
  @media (max-width: @grid-float-breakpoint) {
    .navbar-nav > li > a { background-color: transparent; }
    .navbar-nav > .disabled > a { background-color: initial; }
    .navbar-nav > .active > a { background: transparent; }
  }

  // Activate the transition only on large devices
  @media (min-width: @grid-float-breakpoint) {
    .navbar-nav > li > .dropdown-menu {
      background-color: fade(@navbar-inverse-bg, 75%);    // Same background color as navbar-pad
      transition: margin-top 0.25s ease-in;
    }

    .navbar-nav > .active > a {
      transition: text-shadow 0.25s ease-in, background-color 0.25s ease-in 0.25s;
    }
  }
}

// The navbar with padding
#main-navbar.thick {
  &.navbar-default .navbar-pad,
  &.navbar-inverse .navbar-pad {

    @media (min-width: @grid-float-breakpoint) {
      padding-top: @navbar-pad-padding;
      padding-bottom: @navbar-pad-padding;

      .navbar-nav > li > .dropdown-menu {
        margin-top: @navbar-pad-padding;
      }
    }

    transition-property: padding, color, background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
  }
}

// Styles for links in navbar when there is padding.
#main-navbar.thick .navbar-nav {
  & > li > a { background-color: transparent; }
  & > .disabled > a { background-color: transparent; }
  & > .active > a {
    background-color: initial;

    @media (min-width: @grid-float-breakpoint) {
      transition: background-color 0.25s ease-in, text-shadow 0.25s ease-in 0.25s;
    }
  }
}

// Always add shadow to links in navbar in small devices.
#main-navbar {
  @media (max-width: @grid-float-breakpoint) {
    &.navbar-default .navbar-nav > .active > a {
      text-shadow: 0 10px 10px #000;   // Maybe we should use a variable...
    }

    &.navbar-inverse .navbar-nav > .active > a {
      text-shadow: 0 10px 10px #fff;   // Maybe we should use a variable...
    }
  }
}

// Add text shadows to navbar links when navbar has padding.
#main-navbar.navbar-default.thick .navbar-nav > .active > a {
  text-shadow: 0 10px 10px #000;   // Maybe we should use a variable...
}
#main-navbar.navbar-inverse.thick .navbar-nav > .active > a {
   text-shadow: 0 10px 10px #fff;   // Maybe we should use a variable...
}

// Fix border colors for both navbar styles.
#main-navbar.navbar-default {
  border-color: fade(@navbar-default-border, 10%);

  .navbar-pad { background-color: fade(@navbar-default-bg, 30%); }
}

#main-navbar.navbar-inverse {
  border-color: fade(lighten(@navbar-inverse-border, 10%), 75%);

  .navbar-pad { background-color: fade(@navbar-inverse-bg, 75%); }
}

.navbar-brand { font-size: 1.1*@font-size-large; }


// Dropdowns

// The dropdown menu (ul)
@media (min-width: @grid-float-breakpoint) {
  .dropdown-menu { padding: 15px 10px; }
  .dropdown-menu > li > a { padding: 5px 20px; }
}

.dropdown-menu > li > a {
  &,
  &:hover,
  &:focus {
    color: @dropdown-link-active-color;
    background-color: transparent;
  }
}

// Active state
.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    color: @dropdown-link-active-color;
    background-color: @navbar-inverse-link-active-bg;
  }
}


// Put Wordpress admin bar in fixed position.
body.admin-bar #wpadminbar {
  @media (max-width: 600px) {
    position: fixed;
    top: 0;
  }
}

// Displace navbar below wordpress admin bar
// Notice: new versions of Wordpress may break this.
body.admin-bar .navbar-fixed-top {
  top: 32px !important;

  @media (max-width: 782px) {
    top: 46px !important;
    z-index: 499 !important;
  }
}

.navbar-brand {
  font-size: 1.4*@font-size-large;

  @media (max-width: @screen-md-min) {
    font-size: 1.1*@font-size-large;
  }
}
