.single .showcase-content {
  padding-top: @navbar-height + 2*@navbar-pad-padding;
}

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.single .hentry .entry-title {
  font-size: 1.3*@font-size-h1;
  text-align: left;

  animation-name: fadeInLeft;
  animation-duration: 1s;

  @media (max-width: @screen-xs-max) {
    font-size: @font-size-h1;
  }
}
